# Jupyter Notebook
.ipynb_checkpoints
jupyterlab.slurm

# Input data
binary_files/*

# Project specific
*.fb.tsv
*.msp.tsv
*.sis.tsv
*.bin
cufile.log
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.bim
*.bed
*.fam
*.tmp
*.bak
*.rfmix.Q
*txt.gz
*tsv.gz
*.RData
*.vcf.gz
